.contactUs{
    
    background-color: #09027E;
    display: flex;
    justify-content: center;
    padding-bottom: 350px;
    overflow: hidden;
}
/* 
height: 96px;
width: 401px;
left: 99px;
top: 2527px;
border-radius: nullpx; */

.underline_backers{
    
    clip-path: polygon(0% 0%,100% 0%,100% 5%,0% 14%);
    background: rgba(255, 116, 46, 1);
    height: 76.812553332539697px;
    /* width: 410.03869298897916px; */
    width: 100%;
    left: 103px;
    top: 1470.60986328125px;
    border-radius: 0px;
    transform: rotate(-2.35deg);

}

.contactImgContainer{

    /* display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.contact-form{

    position: relative;
    margin-top:80px;
    background:yellow;
    width:75%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.0580941) 99.99%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(6.33431px);
    border-radius: 15.592157363891602px;
    border: 1px solid purple;
}

.blur_Spot{
    /* position: absolute;
    top: -20%;
    left: -10%;
    height: 310.49411010742188px;
    width: 210.49411010742188px;
    z-index: 10;
    background: rgba(255, 116, 46, 1);
    border-radius: 50%;
    filter: blur(141px); */

    position: absolute;
    top: -40%;
    left: -5%;
    height: 410.4941101074219px;
    width: 310.4941101074219px;
    z-index: 10;
    background: rgba(255, 116, 46, 1);
    border-radius: 50%;
    filter: blur(191px);
}
.blur_Spot1{
    position: absolute;
    top: 60%;
    left: 78%;
    height: 410.4941101074219px;
    width: 210.4941101074219px;
    z-index: 10;
    background: rgba(255, 116, 46, 1);
    border-radius: 50%;
    filter: blur(181px);
}
.contact_form_para{

    font-family: "Poppins",sans-serif;
    
    font-size: 15.5px;
    font-weight: 200;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    height: 48.72549057006836px;
    width: 100%;
    background-color: transparent;
    color:white;
    border-radius: 3.89804px;
    margin:10px 0px;
}
.contact_form_para1{

    font-family: "Poppins",sans-serif;
    
    font-size: 15.5px;
    font-weight: 200;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    height: 48.72549057006836px;
    width: 100%;
    background-color: transparent;
    color:white;
    border-radius: 3.89804px;
    margin:10px 0px;
}

.contact_inputs{

    height: 48.72549057006836px;
    width: 100%;
    background-color: transparent;
    color:#B4BEC8;
    padding: 13px;
    border: 1.16941px solid #B4BEC8;
    border-radius: 3.89804px;
    margin:10px 0px;
}
.sponsers{

    border-right:"3px solid rgba(255, 255, 255, 0.39)";
    
    margin-top:"36.94px";


}
.contact_inputs1{

    height: 133.51px;
    width: 100%;
    background-color: transparent;
    color:#B4BEC8;
    padding: 13px;
    border: 1.16941px solid #B4BEC8;
    border-radius: 3.89804px;
    margin:10px 0px 40px 0px;
}
::placeholder {
    
    color:#B4BEC8;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15.5922px;
    color: #FFFFFF;
    opacity: 0.8;
    
  }
  
  @media (max-width: 767px) {

  
    .sponsers{

        border-right:0px solid rgba(255, 255, 255, 0.39);
        
        margin-top:52px;
    
    }
    .underline_backers{
    
        clip-path: polygon(0% 0%,100% 0%,100% 5%,0% 14%);
        background: rgba(255, 116, 46, 1);
        height: 76.812553332539697px;
         width: 310.03869298897916px;
      margin-left: 50px;
       
        top: 1470.60986328125px;
        border-radius: 0px;
        transform: rotate(-2.35deg);
    
    }

    .contact-form{

        position: relative;
        margin-top:80px;
        background:yellow;
        width:100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.0580941) 99.99%, rgba(255, 255, 255, 0) 100%);
        backdrop-filter: blur(6.33431px);
        border-radius: 15.592157363891602px;
        border: 1px solid purple;
    }
    .contact_form_para1{
        font-family: "Poppins",sans-serif;
        font-size: 15.5px;
        font-weight: 200;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        height: 48.72549057006836px;
        width: 100%;
        background-color: transparent;
        color:white;
        border-radius: 3.89804px;
        margin:10px 0px;
    }
    .socialFeed{
display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
    }
    .contactFormAddress{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
    }
    
  }

  /* @media (min-width:1260px){

    .contactImgContainer{
        display: grid;
        grid-template-columns: auto auto auto;
    }
  } */